/* Use this file to use your own styles*/

/* Styles for the body */

body {
	font-family: "Bebas Neue";
	color: #FFFFFF;
	background-color: #F0F0EF;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #407C51;
}

.resume-main {
	background-color: #BDBDBD;
}

.resume-aside {
	background-color: #7FA88B;
} 

.customclass {
    /* Impact font and add other custom styles */
    font-family: 'Anta', sans-serif;
    /* Add any other styles you want to customize */
    color: #90EE90; 

/* Styles for lists in the document */

}
.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #407C51;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}
.border {
	border-color: mediumseagreen!important;
}

.language-progress {
	background-color: green;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

